@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <canvas id="received" width="1200" height="800" style="border: solid 1px black"></canvas>
</div>
<script src="~/lib/aspnet-signalr/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/viewer")
        .build();
    connection.start();
    connection.on("ViewImage", function (base64) {
        var canvas = document.getElementById('received');
        var ctx = canvas.getContext('2d');
        let source = "data:image/png;base64, " + base64;
        var img = new Image();
        img.src = source;
        img.onload = function ()
        {
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        }
    });

    var example = document.getElementById('received');
    example.onmousemove = function (e) {
        var x = e.pageX - example.offsetLeft;
        var y = e.pageY - example.offsetTop;
        connection.invoke("CursorPosition", x, y);
    }
    example.onclick = function (e) {
        var x = e.pageX - example.offsetLeft;
        var y = e.pageY - example.offsetTop;
        connection.invoke("ClickEvents", "click", x, y);
    }
    example.ondblclick = function (e) {
        var x = e.pageX - example.offsetLeft;
        var y = e.pageY - example.offsetTop;
        connection.invoke("ClickEvents", "dblclick", x, y);
    }
</script>

